<div class="login">
  <div class="loginInr">
      <div class="login-header">
          <h1>Login</h1>
      </div>
      <div class="login-form">
          <form>
              <div class="form-fld">
                  <a class="btn" (click)="googlelogin()"><i class="fa fa-envelope icon"></i> Login with Gmail</a>
              </div>
          </form>
      </div>
  </div>
</div>
<!-- <div class="container-box">
  <div class="container">

  </div>
</div>
<button (click)="googlelogin()">Sign in with Google</button>
<button (click)="signOut();">Sign out</button><br /><br />

<div *ngIf="user">
  <img [src]="user.image" alt="logo">
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
</div> -->